.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
/*VARIABLES*/

:root {
    /*Colores fondo*/
    --LightSlateBlue: hsl(252, 100%, 67%);
    --LightRoyalBlue: hsl(241, 81%, 54%);
    /*Colores circulo*/
    --VioletBlue: hsla(256, 72%, 46%, 1);
    --PersianBlue: hsla(241, 72%, 46%, 0);
}




/*GENERAL*/
* {
    Font-Family: url(https://fonts.google.com/specimen/Hanken+Grotesk);
}
body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}




/*LADO IZQUIERDO*/
.section-1 {
    position: relative;
    height: 60vh;
    width: 35vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient( var(--LightSlateBlue) 0%, var(--LightRoyalBlue) 100% );
    border-radius: 5%;
    z-index: 1;
}
.section-1 h3 {
    text-align: center;
    position: relative;
    color: hsl(252, 100%, 80%);
    top:30px;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Roboto';
    line-height: 1.5em;
}
.section-1 p {
    Font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color:hsl(252, 100%, 80%);
    font-weight: 400;
}
.section-1 h2, .section-1 p{
    position: relative;
    text-align: center;
    top: 80px;
}
.section-1 h2 {
    color: #fff;
    font-weight: 700;
    font-size: 35px;
    font-family: sans-serif;
    padding-bottom: 10px;
}
.section-1_circle {
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 60px;
    background: linear-gradient(var(--VioletBlue) 0%, var(--PersianBlue) 100%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.section-1_circle_bigNumber {
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    font-family:  Roboto, sans-serif;
}
.section-1_circle_smallNumber {
    color: hsl(252, 100%, 75%);
    font-weight: bold;
    font-family: sans-serif;
}




/*LADO DERECHO*/
.section-2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    left: -35px;
    height: 60vh;
    width: 35vw;
    background-color: #fff;
    box-shadow: 10px 10px 27px 1px rgba(0,0,0,0.31);
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
.section-2 h3 {
    position: relative;
    margin-left:25px;
}
.section-2 div {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 15px;
    width: 250px;
    height: 40px;
    border-radius: 8px;
}
.section-2 img {
    padding-left: 5px;
}
.section-2_reaction {
    background-color: rgba(255 87 87 / 0.1);
}
.section-2_memory {
    background-color:  rgba(255 176 31 / 0.1);
}
.section-2_verbal {
    background-color: rgba(0 189 145 / 0.1);
}
.section-2_visual {
    background-color: rgba(17 37 212 / 0.1);
}
.section-2 div p{
   padding-top: 10px;
   padding-left: 5px;
}
.section-2 button {
    background: linear-gradient(var(--LightSlateBlue)0%, var(--LightRoyalBlue)100%);
    position: relative;
    width: 200px;
    height: 40px;
    top: 10px;
    left: 15px;
    color: #fff;
    border: none;
    border-radius: 20px;
}




/*FOOTER*/
.footer {
    display: flex;
    align-items: flex-end;
}


/*Media query para pantallas a partir de 1440px de ancho*/
@media only screen and (min-width: 1440px) {
    .section-1 p {
        padding-top: 15px;
    }
    .section-2 div {
        width: 350px;
        word-spacing: 170px;
    }
    .one, .two {
        position: relative;
        right: -15px;
    }
    span {
        word-spacing: 10px;
        font-weight: bold;
    }
    .section-2 button {
        width: 350px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1440px) {
    .section-1 p {
        word-wrap: normal;
        margin: 5% 10%;
    }
    .section-2 div {
        width: 70%;
        margin: 0 5%;
        margin-left: 7.5%;
    }
    .section-2 span {
        right: 0;
        font-weight: bold;
    }
    .section-2 div {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 70%;
        height: 40px;
        border-radius: 8px;
    }
    .section-2 div {
        word-spacing: 5vw;
    }
    .one span, .two span{
        position: relative;
        right: -15px;
    }
    span {
        word-spacing: .5vw;
        font-weight: bold;
    }
}    

/*Media query para moviles*/
@media only screen and (min-width: 360px) and (max-width: 700px) {
    body {
        overflow: hidden;
    }
    .section-1 {
        word-wrap: normal;
        position: absolute;
        display: inline-flex;
        align-items: center;
        height: 40vh;
        width: 100vw;
        border-radius: 10%;
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        top: 0;
        left: 0;
    }
    .section-1 h3 {
        top:10px;
        font-size: 25px;
        line-height: 1em;
    }
    .section-1 h2{
        top: 5vh;
    }
    .section-1 p{
        top: 4vh;
        font-size: 15px;
        left: -2%;
        margin-left: 5%;
        margin: 5%;
    }
    .section-1_circle {
        width: 30vw;
        height: 15vh;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        top:4vh;

    }
    .section-1_circle_bigNumber {
        font-size: 50px;
    }
    .section-1_circle_smallNumber {
        color: hsl(252, 100%, 75%);
        font-weight: bold;
        font-family: sans-serif;
        font-size: 15px;
    }
    .section-1_text {
        position: relative;
        display: flex;
        word-wrap: normal;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 5%;
    }
    
    .section-2 {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        height: 65vh;
        width: 100vw;
        background-color: #fff;
        box-shadow: 10px 10px 27px 1px rgba(0,0,0,0.31);
        border-radius: 0%;
        top: 37%;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .section-2 h3 {
        position: relative;
        margin-left:25px;
        margin-top: 5%;
    }
    .section-2 div {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 85vw;
        height: 40px;
        left:-2%
    }
    .section-2 img {
        padding-left: 5px;
    }
    .section-2_reaction {
        background-color: rgba(255 87 87 / 0.1);
    }
    .section-2_memory {
        background-color:  rgba(255 176 31 / 0.1);
    }
    .section-2_verbal {
        background-color: rgba(0 189 145 / 0.1);
    }
    .section-2_visual {
        background-color: rgba(17 37 212 / 0.1);
    }
    .section-2 div p{
       padding-top: 10px;
       padding-left: 5px;
    }
    .section-2 span {
        font-weight: bold;
    }
    .section-2 button {
        background: hsl(233, 30%, 26%);
        position: relative;
        width: 85vw;
        height: 10%;
        color: #fff;
        border: none;
        left: -2%;
        margin-bottom: 5%;
    }
}